<!--

    <! 질문 목록 >
    <! 퍼센트가 바로 템플릿 !! >
    {% if question_list %} <!question_list가 들어왔는지 확인 >
        <ul>
        {% for question in question_list %} <! list 반복문 >
            <- url_for로 url을 직접 넣는 게 아니라 bp의 라우팅으로 url을 접속하게 바꿈>
            <li><a href = "{{ url_for('question.detail', question_id = question.id) }}">{{ question.subject }}</a></li>
            <! 각 객체의 id, subject를 가져옴 >
        {% endfor %}
        </ul>

    {% else %}
        <p>질문이 없습니다.</p>
    {% endif %}

-->

<!--여기부터는 Bootstrap 적용 후 --> 

<!-- 이제 표준 템플릿을 상속 받으므로 이렇게 넣어줄 필요가 없음-->
<!--<link rel = 'stylesheet' href="{{url_for('static', filename='bootstrap.min.css') }}">-->

{% extends 'base.html' %}
{% block content %}
<div class = "container my-3"> <!-- 부트스트랩 제공 클래스 -->
    <table class="table">   <!-- 부트스트랩 제공 클래스 -->
        <thead>
        <tr class="table-dark"> <!-- 부트스트랩 제공 클래스 -->
            <th>번호</th>
            <th>제목</th>
            <th>작성일시</th>
        </tr>
        </thead>

        <tbody>
        {% if question_list %}
        {% for question in question_list %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>
                <a href = "{{ url_for('question.detail', question_id=question.id)}}">{{ question.subject }}</a>
            </td>
            <td>{{ question.create_date }}</td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan = "3">질문이 없습니다.</td>
        </tr>
        {% endif %}
        </tbody>

    </table>
    <!--질문 등록 버튼-->
    <a href = "{{ url_for('question.create') }}" class = "btn btn-primary">질문 등록하기</a>
</div>
{% endblock %}